<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: samples-header"></head>
<body>

<div class="container">
    <div class="card" style="width: 72rem;">
        <img class="card-img-top" src="/images/img_1.png">
        <div class="card-body">
            <h3 class="card-title">Replay 2023 Demo - Client</h3>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6">
            <div class="panel panel-default" th:fragment="MessageList" id="MessageData">
                <div class="panel-body">
                    <div class="table-responsive">
                        <br/>
                        <h5>Alerts:</h5>
                        <table class="table table-striped" id="alert-messages">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Type</th>
                                <th scope="col">Dashboard</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-6">
            <div class="panel panel-default" th:fragment="Demos" id="DemosData">
                <div class="panel-body">
                    <div class="table-responsive">
                        <br/>
                        <h5>Run Demos:</h5>
                        <div class="form-group">
                            <form action="/demoone", id="sampleform">
                                <p><input type="submit" value="Run Demo One" class="btn btn-primary" />
                            </form>
                        </div>
                        <div style="width: 18rem;">
                            <div>
                                <div id="result"></div>
                            </div>
                        </div>
<!--                        <table class="table table-striped" id="alert-messages">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th scope="col">Time</th>-->
<!--                                <th scope="col">Type</th>-->
<!--                                <th scope="col">Dashboard</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                        </table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.sse.js"></script>
<script type="text/javascript" src="/js/alertssse.js"></script>
<script>
    $("#sampleform").submit(function( event ) {
        event.preventDefault();

        var $form = $( this ),
            url = $form.attr( "action" );

        $.ajax({
            'url': url,
            'method':'POST',
            'dataType': 'json',
            'contentType': 'application/json',
            // 'data':JSON.stringify({
            //     "firstName": firstName,
            //     "lastName": lastName
            // }),
            success: function(response) {
                $( "#result" ).empty().append( response );
            }
        });
    });
</script>
<footer th:replace="fragments :: samples-footer"></footer>
</body>
</html>